<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <script src="script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body>

        <div id="messages" class="field"> </div>
        <br><br>
        <textarea id="message" class="message_bar"></textarea>
        <button type="button" onclick="sendMessage()" class="message_bar">Send</button>
        <script type="text/javascript">updateMessages()</script>
    </body>

</html>
